.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero img{
    height: 20rem;
    position: relative;
    animation-name: moving;
    animation-duration: 2s;
}
@keyframes moving{
    0%{left:-4rem ; top:-2rem}
    /* 25%{left:0rem ; top:0}
    50%{left:2rem ; top:0} */
    100%{left:0rem ;top:0}
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 60px;
    /* line-height: 80px; */
    font-weight: 500;
}
.hero h1 span{
    background: linear-gradient(270deg, #1b08cf,#acaadb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    text-align: center;
    width: 50%;
    font-size: 24px;
    line-height: 40px;
}
.hero_action{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    gap: 25px;
}
.contactme{
    padding: 20px 35px;
    border-radius: 50px;
    background: linear-gradient(270deg, #1b08cf,#acaadb);
    cursor: pointer;
}
.myresume{
    padding: 20px 55px;
    border-radius: 50px;
    border: 2px solid #fff;
    /* background: linear-gradient(270deg, #1b08cf,#acaadb); */
    cursor: pointer;
}
.contactme:hover{
    border: 2px solid white;
}
.myresume:hover{
    border: 2px solid #1b08cf;
}
@media(max-width:752px){
    .hero img{
        margin-top: 30px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 10px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .contactme{
        font-size: 18px;
        padding: 10px 15px;
        border-radius: 40px;
        
    }
    .myresume{
        font-size: 18px;
        padding: 10px 30px;
        border-radius: 40px;
    }
}

