.logo{
    height: 100px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
}
.logo{
    width: 100px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
}
ul li:hover{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(78, 117, 164);
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
    font-weight: 400;
}
.anchor-link , a{
    text-decoration: none;
    color: white;
}
.nav-open{
    display: none;
}
.nav-close{
    display: none;
}

@media(max-width:722px) {
    .navbar{
        margin: 1.2rem 3.1rem;
        /* justify-content: center; */
    }
    .nav-open{
        display: flex;
        /* position: fixed; */
        right: 30px;
    }
    .nav-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        top: 0;
        gap: 30px;
        background-color: rgb(46, 46, 93);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: rught 0.5s;
        right: -350px;
    }
    .nav-menu li {
        font-size: 1.8rem;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

}

